{% extends "layout.html" %}

{% block bgimage %}

<img src="https://images.unsplash.com/photo-1568847811512-803314424fdc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xpcGJvYXJkfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" class="bg-image">

{% endblock %}

{% block content %}

<p class="black title-custom">Create a New Goal</p>


<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="field">
            {{ form.goal.label(class="mod-font-2 subtitle is-5") }}
            {% if form.goal.errors %}
            {{ form.goal(class="input is-medium is-danger") }}
            <div class="invalid-feedback">
                {% for error in form.goal.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.goal(class="input is-medium") }}
            {% endif %}
        </div>
        <div class="field">
            {{ form.steps.label(class="mod-font-3 has-text-weight-bold subtitle is-5") }}

            {% if form.steps.errors %}
            {{ form.steps(id="steps", style="overflow: hidden; word-wrap: break-word; resize: none; height:
            250px;",
            placeholder="Write something here!") }}
            <div class="invalid-feedback">
                {% for error in form.steps.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% else %}
            {{ form.steps(id="steps", class="textarea mt-2", style="overflow: hidden; word-wrap: break-word;
            resize: none; height: 250px;",
            placeholder="Write your steps to achieve your goal!") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="field mt-5">
        {{ form.submit(class="button is-fullwidth is-info") }}
    </div>
</form>

{% endblock %}