{% extends "layout.html" %}

{% block bgimage %}

<img src="https://images.unsplash.com/photo-1602524208604-cf16e56f05db?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNhbWVyYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="bg-image">

{% endblock %}

{% block content %}
<h1 class="title-custom is-3 black">New Photo Entry</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
<fieldset>
<div class="field">
    <div id="file-field" class="file has-name is-fullwidth">
        <label class="file-label">
            {% if form.image.errors %}    
            {{ form.image(class="file-input") }}
                <div class="invalid-feedback">
                    {% for error in form.image.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.image(class="file-input") }}
            {% endif %}
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            No file uploaded.
          </span>
        </label>
      </div>
    </div>
    <div class="field">
        {% if form.caption.errors %}
            {{ form.caption(class="input is-medium is-danger") }}
            <div class="invalid-feedback">
                {% for error in form.caption.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% else %}
            {{ form.caption(class="input is-medium") }}
        {% endif %}
    </div>
</fieldset>
<div class="field mt-5">
    {{ form.submit(class="button is-fullwidth is-info") }}
</div>
</form>

{% endblock %}