{% extends "layout.html" %}

{% block content %}

<p style="font-family: 'Great Vibes', cursive; font-size: 300%; text-align: center;">Add an Entry</p>
<div class="columns">
    <div class="column is-6">
        <div class="card" style="background-color: #CFE3E2;">
            <p style="font-family: 'Lobster', cursive; font-size: 215%; text-align: center;">Diary</h1>
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://images.unsplash.com/photo-1594103365930-d95e5a456f51?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Diary image">
                </figure>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item" style="font-family: 'Cutive Mono', monospace;">View Past Entries</a>
                <a href="#" class="card-footer-item" style="font-family: 'Cutive Mono', monospace;">Add An Entry</a>
            </footer>
        </div>
    </div>

    <div class="column is-6">
        <p style="font-family: 'Hachi Maru Pop', cursive; font-size: 175%; text-align: center;">How was your mood today?</p></br>
        <div class="box">
            <div class='columns'>
                <div class="column is-one-fifth">
                    <a href="#">
                        <i class="far fa-grin-beam fa-2x"style="color:green;"></i>
                    </a>
                </div>
                <div class="column is-one-fifth">
                    <a href="#">
                        <i class="far fa-smile fa-2x"style="color:#99cc00;"></i>
                    </a>
                </div>
                <div class="column is-one-fifth">
                    <a href="#">
                        <i class="far fa-meh fa-2x"style="color:#cccc00;"></i>
                    </a>
                </div>
                <div class="column is-one-fifth">
                    <a href="#">
                        <i class="far fa-frown fa-2x"style="color:orange;"></i>
                    </a>
                </div>
                <div class="column is-one-fifth">
                    <a href="#">
                        <i class="far fa-angry fa-2x"style="color:red;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                <div class="card" style="background-color: #EAE7E2;">
                    <p style="font-family: 'Lobster', cursive; font-size: 180%; text-align: center;">Goals</h1>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://images.unsplash.com/photo-1589910511971-a90edfbbb343?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGdvYWxzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Goals image">
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item" style="font-family: 'Cutive Mono', monospace; text-align: center;">View Past Goals</a>
                        <a href="#" class="card-footer-item" style="font-family: 'Cutive Mono', monospace;">Add A Goal</a>
                    </footer>
                </div>
            </div>
            <div class="column is-6">
                <div class="box" style="background-color: #FCC9C5;">
                    <article class="media">
                        <div class="media-content">
                            <p style="font-family: 'Lobster', cursive; font-size: 180%; text-align: center;">Trackers</h1>
                            <a href="#">
                                <img src="https://cdn.pixabay.com/photo/2020/05/20/03/50/gears-5193383__340.png" alt="">
                            </a>  
                            <p class="card-footer-item" style="font-family: 'Cutive Mono', monospace; text-align: center;">Click to View Trackers</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}