{% extends "layout_alternate.html" %}

{% block head %}

<style>
    .hero {
         transition: all .2s ease-in-out; 
    }
    .hero:hover { 
        padding-left: 70px;
        transform: scale(1.1);
    }

</style>


{% endblock %}

{% block content %}


  {% include 'includes/transparent_navbar.html' %}


  {% for i in range(years|length) %}
  {% if i % 6 == 0 %}
  <a class="hero background-1 is-bold" href="{{ url_for('months', year=years[i].name) }}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ years[i].name }}
        </h1>
      </div>
    </div>
  </a>
  {% elif i % 6 == 1 %}
  <a class="hero background-2 is-bold" href="{{ url_for('months', year=years[i].name) }}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ years[i].name }}
        </h1>
      </div>
    </div>
  </a>
  {% elif i % 6 == 2 %}
  <a class="hero background-3 is-bold" href="{{ url_for('months', year=years[i].name) }}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ years[i].name }}
        </h1>
      </div>
    </div>
  </a>
  {% elif i % 6 == 3 %}
  <a class="hero background-4 is-bold" href="{{ url_for('months', year=years[i].name) }}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ years[i].name }}
        </h1>
      </div>
    </div>
  </a>
  {% elif i % 6 == 4 %}
  <a class="hero background-5 is-bold" href="{{ url_for('months', year=years[i].name) }}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ years[i].name }}
        </h1>
      </div>
    </div>
  </a>
  {% elif i % 6 == 5 %}
  <a class="hero background-6 is-bold" href="{{ url_for('months', year=years[i].name) }}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ years[i].name }}
        </h1>
      </div>
    </div>
  </a>


  {% endif %}
  {% endfor %}



{% endblock %}
