{% extends "layout.html"%}

{% block content %}

<h1 class="title is-2">Your Monthly Summary</h1>
<div class="columns">
    <div class="column is-3">
        <h1 class="title is-4">Stats</h1> <!--change if necessary-->
        <div class="card">
            <div class="card-content">
                        <p class="title is-4">Mood</p>
                        <p class="subtitle is-6">Your average mood for this month was:</p>

                <div class="content">
                    Image of mood emoji goes here.
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-content">

                <p class="title is-4">Sleep</p>
                <p class="subtitle is-6">You got an average of</p>


                <div class="content">
                    <h1 class="title is-2">8</h1>
                </div>

                <p class="subtitle is-6">hours of sleep this month.</p>

            </div>
        </div>
    </div>
    <div class="column is-6">
        <h1 class="title is-4">Your Favourite Entries this Month:</h1>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title of Entry</strong> <br><small>Date</small>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                            fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                    </div>
                    
                </div>
            </article>
        </div>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title of Entry</strong> <br><small>Date</small>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                            fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                    </div>
                    
                </div>
            </article>
        </div>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title of Entry</strong> <br><small>Date</small>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                            fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                    </div>
                    
                </div>
            </article>
        </div>
    </div>

    <div class="column is-3">
        <h1 class="title is-4">Goals</h1>
        <div class="card">
            <div class="card-content">
                        <p class="title is-5">Completed</p>
                        <p class="subtitle is-6">Well done! You reached these goals this month:</p>

                <ul>
                    <li>1) Goal</li>
                    <li>2) Goal</li>
                    <li>3) Goal</li>
                </ul>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-content">
                        <p class="title is-5">In-Progress</p>
                        <p class="subtitle is-6">Goals you're working on for next month. You've got this!</p>

                <ul>
                    <li>1) Goal</li>
                    <li>2) Goal</li>
                    <li>3) Goal</li>
                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}