{% extends "layout.html" %}

{% block bgimage %}
<img src="https://cdn.pixabay.com/photo/2017/10/14/09/56/journal-2850091_960_720.jpg" alt="" class="bg-image">
{% endblock %}

{% block content %}

<h1 class="title-custom is-3 black">New Diary Entry</h1>

<form method="POST" action="">
	{{ form.hidden_tag() }}
	<fieldset>
		<div class="field">
			{{ form.date_written.label(class="mod-font-3 black has-text-weight-bold subtitle is-5") }}
			{% if form.date_written.errors %}
			{{ form.date_written(id="datepicker", class="input is-danger mod-font black") }}
			<div class="invalid-feedback">
				{% for error in form.date_written.errors %}
				<p class="help is-danger">{{ error }}</p>
				{% endfor %}
			</div>
			{% else %}
			{{ form.date_written(id="datepicker", class="input mod-font black") }}
			{% endif %}
		</div>
		<div class="field">
			{{ form.title.label(class="mod-font-3 black has-text-weight-bold subtitle is-5") }}
			{% if form.title.errors %}
			{{ form.title(class="input is-danger mod-font black") }}
			<div class="invalid-feedback">
				{% for error in form.title.errors %}
				<p class="help is-danger">{{ error }}</p>
				{% endfor %}
			</div>
			{% else %}
			{{ form.title(class="input mod-font black") }}
			{% endif %}
		</div>
		<div class="field">
			{{ form.text.label(class="mod-font-2 black has-text-weight-bold subtitle is-5") }}

			{% if form.text.errors %}
			{{ form.text(id="text", style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px;",
			placeholder="Write something here!") }}
			<div class="invalid-feedback">
				{% for error in form.text.errors %}
				<p class="help is-danger">{{ error }}</p>
				{% endfor %}
			</div>
			{% else %}
			{{ form.text(id="text", class="textarea mt-2", style="overflow: hidden; word-wrap: break-word; resize: none;
			height: 160px;",
			placeholder="Write something here!") }}
			{% endif %}
		</div>
	</fieldset>
	<div class="field mt-5">
		{{ form.submit(class="button is-fullwidth is-info") }}
	</div>

</form>

<script>

$(document).ready(function(){
	$('#title').focus();
	  $('#text').autosize();
  });

</script>

{% endblock %}