{% extends "layout.html" %}

{% block content %}

<h1 class="title is-3 mod-font">New Diary Entry</h1>

<form method="GET" action="">
	{{ form.hidden_tag() }}
	<fieldset>
		<div class="field">
			{{ form.title.label(class="mod-font") }}
			{% if form.title.errors %}
			{{ form.title(class="input is-danger mod-font") }}
			<div class="invalid-feedback">
				{% for error in form.title.errors %}
				<p class="help is-danger">{{ error }}</p>
				{% endfor %}
			</div>
			{% else %}
			{{ form.title(class="input mod-font") }}
			{% endif %}
		</div>
		<div class="field">
			{{ form.text.label(class="mod-font") }}

			{% if form.text.errors %}
			{{ form.text(id="text", style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px;",
			placeholder="Write something here!") }}
			<div class="invalid-feedback">
				{% for error in form.text.errors %}
				<p class="help is-danger">{{ error }}</p>
				{% endfor %}
			</div>
			{% else %}
			{{ form.text(id="text", class="textarea mt-2", style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px;",
			placeholder="Write something here!") }}
			{% endif %}
		</div>
	</fieldset>
	<div class="field mt-5">
		{{ form.submit(class="button is-fullwidth is-info") }}
	</div>

</form>

<script src="https://static.tumblr.com/maopbtg/oimmiw86r/jquery.autosize-min.js"></script>

{% endblock %}