{% extends "layout.html" %}

{% block bgimage %}

<img src="https://cdn.pixabay.com/photo/2018/01/11/21/27/desk-3076954_1280.jpg" alt="" class="bg-image">

{% endblock %}

{% block content %}
<h1 class="title-custom is-3 black">Diary Enter OCR Recognition</h1>

<div class="content-section">
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
<fieldset>
<div class="field">
    {{ form.image.label(class="label")}}
    <div id="file-field" class="file has-name is-fullwidth">
        <label class="file-label">
            {% if form.image.errors %}    
            {{ form.image(class="file-input") }}
                <div class="invalid-feedback">
                    {% for error in form.image.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.image(class="file-input") }}
            {% endif %}
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            No file uploaded.
          </span>
        </label>
      </div>
    </div>
</fieldset>

<div class="field mt-5">
    {{ form.submit(class="button is-fullwidth is-info") }}
</div>
</form>
</div>

{% endblock %}