{% extends "layout.html"%}

{% block bgimage %}

<img src="https://images.unsplash.com/photo-1599717127111-5c0b51637912?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzV8fGNhbG1pbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
    class="bg-image">

{% endblock %}

{% block content %}



<h1 class="title is-2" style="font-family: 'Great Vibes', cursive; font-size: 300%; text-align: center;">Resources</h1>

<div class="columns">
    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <p class="title mod-font-2">
                    Urgent Help
                </p>
                <p class="subtitle mod-font-3">
                    Crisis Services Canada - call  1-833-456-4566 anytime or text 45645 from 4pm to midnight <br>
                    Hope for Wellness - phone (1-855-242-3310) or chat support for Indigenous peoples <br>
                    Kids Help Phone - online chat or call 1-800-668-6868 to speak to a counsellor <br>
                    Transgender Crisis Line: 1-877-330-6366 <br>
                    Kids Help Phone - online chat or call 1-800-668-6868 to speak to a counsellor <br>
                    National Suicide Prevention Lifeline - call 1-800-273-TALK (1-800-273-8255) to be directed to a crisis centre closest to you </br>
                    National Hopeline - call 1-800-SUICIDE (1-800-784-2433) to speak to a crisis counsellor <br>
                    The Trevor Project - provides crisis and suicide support for LGBTQ youth, 1-866-4-U-TREVOR (1-866-488-7386) </br>
                    National Domestic Violence Hotline -- 1-800-799-7233 <br>

                </p>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-content">
                <p class="title mod-font-2">
                    Educational Resources
                </p>
                <p class="subtitle mod-font-3">
                    https://cmha.ca/mental-health/understanding-mental-illness <br>
                    https://www.camh.ca/en/health-info/mental-health-101 <br>
                    https://www.healthline.com/health/mental-health <br>

                </p>
            </div>
        </div>
    </div>

    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <p class="title mod-font-2">
                    Relaxation
                </p>
                <p class="subtitle mod-font-3">
                    https://www.self.com/story/best-youtube-yoga-channels (Yoga) <br>
                    https://www.youtube.com/watch?v=79kpoGF8KWU (music stream) <br>
                    https://www.radioart.com (art and music stream) <br>
                    Colorfly (online colouring app) <br>
                    Breathwrk app (breathing exercises) <br>
                    AntiStress (app for anxiety-relieving games) <br>

                </p>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-content">
                <p class="title mod-font-2">
                    Support Groups
                </p>
                <p class="subtitle mod-font-3">
                    ConnexOntario to find services for drug and alcohol, gambling or mental health issues <br>
                    Ementalhealth.ca to find various mental health and social support services <br>
                    Canadian Mental Health Association to find your local CMHA to access mental health help, support and resources <br>
                    https://www.self.com/story/online-support-groups 

                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}