{% extends "layout.html"%}

{% block body %}

<div class="columns">
    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Urgent Help
                </p>
                <p class="subtitle">
                    sites
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Support Groups
                </p>
                <p class="subtitle">
                    sites
                </p>
            </div>
        </div>
    </div>

    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Relaxation
                </p>
                <p class="subtitle">
                    sites
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Educational Resources
                </p>
                <p class="subtitle">
                    sites
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}