{% extends "layout.html"%}

{% block content %}

<div class="columns">
    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Urgent Help
                </p>
                <p class="subtitle">
                    Crisis Services Canada - call  1-833-456-4566 anytime or text 45645 from 4pm to midnight
                    Hope for Wellness - phone (1-855-242-3310) or chat support for Indigenous peoples
                    Kids Help Phone - online chat or call 1-800-668-6868 to speak to a counsellor
                    Transgender Crisis Line: 1-877-330-6366
                    Kids Help Phone - online chat or call 1-800-668-6868 to speak to a counsellor
                    National Suicide Prevention Lifeline - call 1-800-273-TALK (1-800-273-8255) to be directed to a crisis centre closest to you
                    National Hopeline - call 1-800-SUICIDE (1-800-784-2433) to speak to a crisis counsellor
                    The Trevor Project - provides crisis and suicide support for LGBTQ youth, 1-866-4-U-TREVOR (1-866-488-7386)
                    National Domestic Violence Hotline -- 1-800-799-7233

                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Support Groups
                </p>
                <p class="subtitle">
                    ConnexOntario to find services for drug and alcohol, gambling or mental health issues
                    Ementalhealth.ca to find various mental health and social support services
                    Canadian Mental Health Association to find your local CMHA to access mental health help, support and resources
                    https://www.self.com/story/online-support-groups 

                </p>
            </div>
        </div>
    </div>

    <div class="column is-6">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Relaxation
                </p>
                <p class="subtitle">
                    https://www.self.com/story/best-youtube-yoga-channels (Yoga)
                    https://www.youtube.com/watch?v=79kpoGF8KWU (music stream)
                    https://www.radioart.com (art and music stream)
                    Colorfly (online colouring app)
                    Breathwrk app (breathing exercises)
                    AntiStress (app for anxiety-relieving games)

                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="title">
                    Educational Resources
                </p>
                <p class="subtitle">
                    https://cmha.ca/mental-health/understanding-mental-illness 
                    https://www.camh.ca/en/health-info/mental-health-101 
                    https://www.healthline.com/health/mental-health 

                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}