{% extends "layout_alternate_flash.html" %}

{% block head %}

<style>
    .card {
        transition: all .2s ease-in-out;
    }

    .card:hover {
        transform: scale(1.1);
    }

    hr {
        border-color: black;
        background-color: black;
    }
</style>


{% endblock %}

{% block content %}



<h2 class="title is-2 has-text-centered mt-4"
    style="font-family: 'Great Vibes', cursive; font-size: 300%; text-align: center;">{{ day.name }} - {{ day.month.name
    }} {{ day.date }}, {{ day.month.year.name }}</h2>

<section class="hero background-3">
    <div class="hero-body">
        <div class="container">


            <h2 class="title is-4 has-text-centered" style="font-family: 'Cutive Mono', monospace;">Add a New Entry</h2>

            <div class="columns">
                <div class="column is-2">

                    <a
                        href="{{ url_for('new_diary_entry', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}">
                        <div class="card background-2">
                            <h1 class="has-text-centered is-3 title mt-4" style="font-family: 'Lobster', cursive;">Diary
                            </h1>
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://images.unsplash.com/photo-1594103365930-d95e5a456f51?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                                        alt="Diary image">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a class="card-footer-item"
                                    href="{{ url_for('new_diary_entry', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}">Add
                                    a Diary Entry</a>
                            </footer>
                        </div>
                    </a>
                </div>

                <div class="column is-2">

                    <a
                        href="{{ url_for('add_photo_entry', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}">
                        <div class="card background-1">
                            <h1 class="has-text-centered is-3 title mt-4" style="font-family: 'Lobster', cursive;">
                                Images
                            </h1>
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://cdn.pixabay.com/photo/2016/02/19/11/37/lens-1209823_1280.jpg"
                                        alt="Diary image">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a class="card-footer-item"
                                    href="{{ url_for('add_photo_entry', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}">Add
                                    an image</a>
                            </footer>
                        </div>
                    </a>


                </div>

                <div class="column is-4">
                    <div class="card background-4">
                        <h3 class="has-text-centered is-3 title mt-4 mb-0"
                            style="font-family: 'Hachi Maru Pop', cursive;">How are you feeling?</h3>

                        <div class="card-content mt-0">
                            <form method="POST" action="">
                                <div class="field">
                                    <div class="buttons is-centered">
                                        <button type="submit" class="button" name="5" value="5">
                                            <i class="far fa-grin-beam fa-2x" style="color:green;"></i>
                                        </button>
                                        <button type="submit" class="button" name="4" value="4">
                                            <i class="far fa-smile fa-2x" style="color:#99cc00;"></i>
                                        </button>
                                        <button type="submit" class="button" name="3" value="3">
                                            <i class="far fa-meh fa-2x" style="color:#cccc00;"></i>
                                        </button>
                                        <button type="submit" class="button" name="2" value="2">
                                            <i class="far fa-frown fa-2x" style="color:orange;"></i>
                                        </button>
                                        <button type="submit" class="button" name="1" value="1">
                                            <i class="far fa-angry fa-2x" style="color:red;"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

                <div class="column is-2">
                    <a
                        href="{{ url_for('add_goal_entry', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}">
                        <div class="card background-5">
                            <h1 class="has-text-centered is-3 title mt-4" style="font-family: 'Lobster', cursive;">Goals
                            </h1>
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://cdn.pixabay.com/photo/2016/03/09/09/43/person-1245959_1280.jpg"
                                        alt="Diary image">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ url_for('add_goal_entry', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}"
                                    class="card-footer-item">Add a goal</a>
                            </footer>
                        </div>
                    </a>
                </div>

                <div class="column is-2">
                    <a
                        href="{{ url_for('main_event', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}">
                        <div class="card background-2">
                            <h1 class="has-text-centered is-3 title mt-4" style="font-family: 'Lobster', cursive;">Main
                                Events
                            </h1>
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://images.unsplash.com/photo-1504199020112-921914a72fb7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTV8fGZpcmV3b3Jrc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                        alt="">
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ url_for('main_event', date=day.month.name + '/' + day.date|string + '/' + day.month.year.name|string) }}"
                                    class="card-footer-item">Add an Event</a>
                            </footer>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hero background-2">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-4 has-text-centered" style="font-family: 'Cutive Mono', monospace;">Entries from the day
            </h2>




            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent is-6">


                    {% for entry in left_side %}
                    {% if entry[2]|string == 'DiaryEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">{{ entry[0].title }}</p>
                        <p class="subtitle">Diary Entry</p>

                        <p class="content">{{ entry[0].content }}</p>
                        <hr>
                        <p class="content">Your mood for the diary entry:</p>
                        <img height="40px" width="40px"
                            src="https://res.cloudinary.com/dnwczwamg/image/upload/you/required/{{ entry[0].score }}_emoji.png"
                            alt="">

                    </article>

                    {% elif entry[2]|string == 'GoalEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">{{ entry[0].goal }}</p>
                        <p class="subtitle">Goal</p>

                        <p class="content">{{ entry[0].steps }}</p>
                    </article>

                    {% elif entry[2]|string == 'MoodEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">Current Mood</p>

                        <p class="content">
                            <img src="https://res.cloudinary.com/dnwczwamg/image/upload/you/required/{{ entry[0].mood }}_emoji.png"
                                alt="">
                        </p>
                    </article>
                    {% elif entry[2]|string == 'MainEventEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">{{ entry[0].content }}</p>
                        <p class="subtitle">Main Event</p>

                        <p class="content">
                            {{ entry[0].description }} </p>
                    </article>
                    {% endif %}


                    {% endfor %}

                </div>
                <div class="tile is-vertical is-parent">

                    {% for entry in right_side %}
                    {% if entry[2]|string == 'DiaryEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">{{ entry[0].title }}</p>
                        <p class="subtitle">Diary Entry</p>

                        <p class="content">{{ entry[0].content }}</p>
                        <hr>
                        <p class="content">Your mood for the diary entry:</p>
                        <img height="40px" width="40px"
                            src="https://res.cloudinary.com/dnwczwamg/image/upload/you/required/{{ entry[0].score }}_emoji.png"
                            alt="">


                    </article>
                    {% elif entry[2]|string == 'GoalEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">{{ entry[0].goal }}</p>
                        <p class="subtitle">Goal</p>
                        <p class="content">{{ entry[0].steps }}</p>
                    </article>
                    {% elif entry[2]|string == 'MoodEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">Current Mood</p>

                        <p class="content">
                            <img src="https://res.cloudinary.com/dnwczwamg/image/upload/you/required/{{ entry[0].mood }}_emoji.png"
                                alt="">
                        </p>
                    </article>
                    {% elif entry[2]|string == 'MainEventEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <p class="title">{{ entry[0].content }}</p>
                        <p class="subtitle">Main Event</p>

                        <p class="content">
                            {{ entry[0].description }} </p>
                    </article>
                    {% elif entry[2]|string == 'PhotosEntry' %}
                    <article class="tile is-child notification {{ entry[1] }}">
                        <img src="https://res.cloudinary.com/dnwczwamg/image/upload/v1610858360/{{ entry[0].photo }}.jpg" alt="">

                        <p class="content">
                            {{ entry[0].caption }} </p>
                    </article>
                    {% endif %}

                    {% endfor %}


                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}